@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Iceland";
    src: url("../fonts/Iceland/Iceland-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

* {
    font-family: Poppins;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #18191A;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

h1 {
    text-align: center;
    font-size: 5rem;
    animation: neon-h1 1.5s ease-in-out infinite alternate;
    color: #fff;
    font-family: Iceland;
}

form {
    width: 100%;
    display: grid;
    grid-template-areas: "input-url button-left button-right";
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    column-gap: 15px;
}

#mp3 {
    grid-area: button-left;
}

#mp4 {
    grid-area: button-right;
}

#url {
    grid-area: input-url;
}

input, button {
    height: 3rem;
    border: 0;
    outline: 0;
    font-size: 1.2rem;
}

input {
    background-color: rgb(42, 37, 37);
    border-radius: 0.8rem 0 0 0.8rem ;
    padding-left: 1rem;
    color: #fff;
    font-style: italic;
    width: 30rem;
    color: rgb(131, 127, 127)
}

button {
    padding: 0 1rem;
    border-radius: 0 0.8rem 0.8rem 0;
    background-color:  #0e355f;
    font-weight: bold;
    color: rgb(42, 37, 37);
    cursor: pointer;
}

button:hover {
    color: #fff;
    animation: neon-button 1.5s ease-in-out infinite alternate;

}

@keyframes neon-button {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
    }
}

@keyframes neon-h1 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228DFF, 0 0 70px #228DFF, 0 0 80px #228DFF, 0 0 100px #228DFF, 0 0 150px #228DFF;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228DFF, 0 0 35px #228DFF, 0 0 40px #228DFF, 0 0 50px #228DFF, 0 0 75px #228DFF;
    }
}

@media(max-width: 974px) {
    input, button {
        font-size: 0.9rem;
    }
}

@media(max-width: 890px) {
    input {
        width: 25rem;
    }
}

@media(max-width: 820px) {
    input {
        width: 20rem;
    }
}

/* Tablet */

@media(max-width: 750px) {
    form {
        grid-template-areas: "input-url input-url"
         "button-left button-right";
    }

    input {
        max-width: 100%;
        margin-right: 0;
        width: 30rem;
    }
}

@media(max-width: 530px) {
    h1 {
        max-width: 430px;
    }

    input,button {
        max-width: 412px;
    }

}

/* MOBILE */

@media(max-width: 450px) {
    form {
        grid-template-areas: "input-url"
        "button-left"
        "button-right";
    }

    input, button {
        border-radius: 0.8rem;
    }

    button {
        max-width: 362px;
    }

    input {
        max-width: 342px;
    }
}

@media(max-width: 395px) {  
    button {
        max-width: 300px;
    }

    input {
        max-width: 280px;
    }
}

@media(max-width: 330px) {
    h1 {
        font-size: 4rem;
    }
    button {
        max-width: 260px;
    }

    input {
        max-width: 240px;
    }
}

@media(max-width: 275px) {
    h1 {
        max-width: 260px;
        font-size: 3rem;
    }
    button {
        max-width: 220px;
    }

    input {
        max-width: 200px;
    }
}


